.product-card {
  /* FIXME: надо либо перевести на гриды, либо дальше костылять. Убрать отсутпы здесь, и добавлять потомкам контейнеров уже на местах, через вложенность scss*/
  position: relative;
  height: 405px;
  width: 270px;
  margin: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;

  transition: box-shadow 0.3s;

  &__inner {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  &__wish-list {
    position: absolute;
    content: "";
    height: 22px;
    width: 24px;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.3s box-shadow ease-in;

    & svg {
      height: inherit;
      width: inherit;
      transition: all 0.3s;
    }

    &:hover svg {
      fill: $color-accent;
      filter: drop-shadow(0px 0px 5px $color-accent);
    }

    &--active svg {
      transition: 0.3s all ease-in;
      fill: $color-accent;
    }
  }

  &--sale::before {
    content: "SALE";
    padding: 8px 15px;
    background-color: $color-accent;
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
  }
  &__img {
    margin-top: 35px;
    margin-bottom: 10px;

    & img {
      max-width: 100%;
    }
  }
  &__title {
    font-family: "SFProDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: $text-color-base;
    margin-bottom: 25px;

    transition: 0.3s color;
  }
  &__price {
    position: absolute;
    bottom: 0;
    font-family: "Barlow-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: $text-color-base;
    margin-bottom: 30px;
    transition: 0.3s color;

    &::after {
      content: "₽";
      font-style: inherit;
      margin-left: 0.4em;
    }
  }
  &__cart {
    /* в дизайне не обозначено состояние кнопки, когда товар уже был ранее добавлен в корзиную По этому при активном элементе перекрашиваю вложенную svg в чёрный*/
    position: absolute;
    content: "";
    height: 40px;
    width: 60px;
    right: 0;
    bottom: 0;
    border-radius: 10px 0px 0px 0px;
    background-color: transparent;
    border: none;
    background-color: $color-accent;

    & svg {
      height: 23px;
      width: 30px;
      transition: all 0.9s;
    }

    &--active svg {
      fill: white;
    }

    &:hover {
      fill: white;
    }
  }

  &__hover-text {
    position: absolute;
    top: 30%;
    padding: 18px 22px;
    color: $text-color-base;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);

    font-family: "SFProDisplay-Regular";
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    opacity: 0;
    transition: 0.3s all;
  }

  &__not-available {
    position: absolute;
    bottom: 15%;
    font-family: "SFProDisplay-Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    opacity: 0;
  }

  &__notify {
    position: absolute;
    content: "";
    color: $color-accent;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5%;
    font-family: "SFProDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    opacity: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-accent;
  }

  &:hover {
    box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.25);
    border: 1px solid white;

    .product-card__title,
    .product-card__price {
      color: $color-accent;
    }

    .product-card__hover-text {
      position: absolute;
      top: 30%;
      padding: 18px 22px;
      color: $text-color-base;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.9);

      font-family: "SFProDisplay-Regular";
      font-size: 20px;
      line-height: 24px; /* 
      text-align: center; */
      opacity: 1;
    }
  }
}

.product-card--not-available {
  .product-card__not-available,
  .product-card__notify {
    opacity: 1;
  }
  .product-card__price {
    display: none;
  }
  .product-card__cart {
    display: none;
  }
}
