.catalog {
  margin-bottom: 100px;

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    font-family: "SFProDisplay-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  &__top-filter {
    margin-bottom: 45px;
  }

  &__inner {
    display: flex;
  }
  &__aside {
    /* FIXME: секцию не стилизовал, посколько в макете есть элементы стилизация которых, будет через плагины для реакта. И стилизовать их сейчас иными средствами - лишняя трата времени. Посколько нативным css полностью сверстать не получится, решил не делать вовсе. Просто экономлю на этом время */
    height: auto;
    min-width: 290px;
    min-height: 1330px;
    background-color: white;
    background-image: url("/store/cscc/page-catalog/img/bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__products {
    padding-left: 300px;
    margin-left: -290px;
  }

  &__product-list {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
/* сам лист */

