.header-menu {
  margin-right: 10px;
  &__list {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  &__item {
    display: inline;
    margin: 10px 10px 10px 0;
  }
  &__link {
    
  }

}
