@font-face{
  font-family: "SFProDisplay-Regular";
  src: url("./../../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "SFProDisplay-Medium";
  src: url("./../../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "SFProDisplay-Semibold";
  src: url("./../../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "SFProDisplay-Bold";
  src: url("./../../fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* barlow */
/* не поддерживает кириллицу */

@font-face{
  font-family: "Barlow-Regular";
  src: url("./../../fonts/Barlow-Regular.ttf");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Barlow-Bold";
  src: url("./../../fonts/Barlow-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
