.footer {
  background-color: $color-base;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin-right: 15px;
  }
  &__form-title {
    font-family: "SFProDisplay-Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 50px;
  }
  &__form {
    display: flex;
  }
  &__form-input {
    padding: 0 12px;
    border: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;

    font-size: 14px;
    line-height: 17px;

    &::placeholder {
      font-family: "SFProDisplay-Regular";
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
    }
  }
  &__form-button {
    height: 30px;
    font-family: "SFProDisplay-Regular";
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;

    color: white;
    background-color: $color-accent;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
  }
  &__information-list {
  }
  &__social-links {
    height: 100%;
    width: 300px;
  }
  &__bottom {
    text-align: center;
    
  }
  &__bottom-link {
    display: inline-block;
    font-family: "SFProDisplay-Regular";
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 25px;
    margin-left: 80px;
   
    
  }
}
