.popular-section {
  margin-bottom: 70px;
  
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__slider {
    width: 100%;
  }
}

.popular .swiper-pagination {
  display: none;
}


.popular .swiper-button-prev {
  background-image: url("./../../../../../store/cscc/common-parts/sliderjs/img/arrow-right-black.svg");
  margin-left: -15px;
}

.popular .swiper-button-next {
  background-image: url("./../../../../../store/cscc/common-parts/sliderjs/img/arrow-left-black.svg");  
  margin-right: -15px;
}