.breadcrumbs {
  
  &__list {
  }
  &__list-item {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding-right: 16px;
    font-family: "SFProDisplay-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: $text-color-light;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      background-image: url("./../../../store/cscc/common-parts/breadcrumbs/icon/Back.png");
      height: 10px;
      width: 6px;
      bottom: 4px;
    }

    &:last-child {
      
      &::after {
        display: none;
      }
    }
  }
}
